@model HomeAccounting.BusinessLogic.Dtos.FamilyDto
@using HomeAccounting.BusinessLogic.Services.Interfaces
@inject IFamilyService familyService

<h4>Balance Sheet</h4>
<form asp-action="Balance" method="post">
    <table>
        <thead>
            <tr>
                <th>
                    Name of Family
                    <select asp-for="Id">
                        <option value="">Select family</option>
                        @foreach (var family in await familyService.GetAllFamilyAsync())
                        {
                            <option value="@family.Id">@family.FamilyName</option>
                        }
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    StartDate
                    <input type="date" asp-for="StartTime" />
                </th>
            </tr>
            <tr>
                <th>
                    EndDate
                    <input type="date" asp-for="EndTime" />
                </th>
            </tr>

        </thead>
    </table>


    <input type="submit" value="Submit" class="btn-blue" />
    @if (Model != null)
    {
        <p class="result">Income for a given time : @Model.BalanceTime</p>
        <p class="result">Income for a month(Month is found in the StartDate ) : @Model.BalanceIncomeMonth</p>
        <p class="result">Income for a year : @Model.BalanceIncomeYear</p>
        <p class="result">Highest Income for a given time : @Model.HighestIncomeTime</p>
        <p class="result">Highest Income for a given month(Month is found in the StartDate ): @Model.HighestIncomeMonth</p>
        <p class="result">Highest Income for a year : @Model.HighestIncomeYear</p>
    }

</form>
<style>
    .btn-blue {
        background-color: midnightblue;
        color: white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 4px;
    }

    .no-income {
        color: darkred;
        font-weight: bold;
    }

    .result {
        color: midnightblue;
        font-weight: bold;
    }
</style>











